@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

// VARIABLES START
$color1: #1f1d59;
$color2: #22ad7a;
$color3: #ce5252;
$color4: #e2e6eb;
$color5: #93a0b2;
$color6: #fff0d0;
$color7: #ffce60;
// VARIABLES END

// GLOBAL START
html {
  width: 100%;
  font-size: 100%;
}

body {
  background-color: #f4f4f4 !important;
}

@media screen and (max-width: 992px) {
  html {
    font-size: 100%;
  }
}

@media screen and (max-width: 668px) {
  html {
    font-size: 92%;
  }
}

@media screen and (max-width: 575px) {
  html {
    font-size: 88%;
  }
}

@media screen and (max-width: 475px) {
  html {
    font-size: 84%;
  }
}

@media screen and (max-width: 380px) {
  html {
    font-size: 80%;
  }
}

@media screen and (max-width: 280px) {
  html {
    font-size: 76%;
  }
}

.pointer {
  cursor: pointer;
}

.sliderContainer {
  .slick-prev:before,
  .slick-next:before {
    color: #000;
  }
}

.f8 {
  font-size: 0.5rem;
}

.f10 {
  font-size: 0.625rem;
}

.f12 {
  font-size: 0.75rem;
}

.f14 {
  font-size: 0.875rem;
}

.f15 {
  font-size: 0.938rem;
}

.f16 {
  font-size: 1rem;
}

.f18 {
  font-size: 1.125rem;
}

.f20 {
  font-size: 1.25rem;
}

.f22 {
  font-size: 1.375rem;
}

.f24 {
  font-size: 1.5rem;
}

.f34 {
  font-size: 2.125rem;
}

.f30 {
  font-size: 1.875rem;
}

.f35 {
  font-size: 2.125rem;
  line-height: 57px;
}

.f50 {
  font-size: 3.125rem;
  line-height: 65px;
}

.f64 {
  font-size: 4rem;
  line-height: 71px;
}

.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}

.fw600 {
  font-weight: 600;
}

.fw700 {
  font-weight: 700;
}

.fw800 {
  font-weight: 800;
}

.fw900 {
  font-weight: 900;
}

// COLORS
.color1 {
  color: $color1;
}

.color2 {
  color: $color2;
}

.color3 {
  color: $color3;
}

.color4 {
  color: $color4;
}

.color5 {
  color: $color5;
}

.border-blue {
  border: 1px solid $color1;
}

.radius {
  border-radius: 10px !important;
}

// BACKGROUNDS
.bg-color1 {
  background-color: $color1 !important;
}

.bg-color2 {
  background-color: $color2;
}

.bg-color3 {
  background-color: $color3 !important;
}

.bg-color4 {
  background-color: $color4;
}

.bg-color6 {
  background-color: $color6;
}

.bg-color7 {
  background-color: $color7;
  border-radius: 10px 10px 0px 0px;
}

.container-fluid {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

.page-Container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.p-3 {
  padding: 1rem !important;
}

.mt-5 {
  margin-top: 3rem !important;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.row > * {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.col-8 {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-4 {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 33.33333333%;
}

.w-100 {
  width: 100% !important;
}

.p-2 {
  padding: 0.5rem !important;
}

img,
svg {
  vertical-align: middle;
}

.px-2 {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
}

.ps-3 {
  padding-left: 1rem !important;
}

.py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.mt-2 {
  margin-top: 0.3rem;
}

.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}

.text-white {
  --bs-text-opacity: 1;
  color: #fff !important;
}

.border-0 {
  border: 0 !important;
}

.ms-4 {
  margin-left: 1.5rem !important;
}

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.text-center {
  text-align: center !important;
}

.lh-sm {
  line-height: 1.25 !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.text-decoration-line-through {
  text-decoration: line-through;
}

.mx-4 {
  margin-right: 1.5rem !important;
  margin-left: 1.5rem !important;
}

.bg-transparent {
  --bs-bg-opacity: 1;
  background-color: transparent !important;
}

.text-decoration-underline {
  text-decoration: underline !important;
}

.ps-1 {
  padding-left: 0.25rem !important;
}

.pe-3 {
  padding-right: 1rem !important;
}

.flex-column {
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}

.px-3 {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.position-relative {
  position: relative !important;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}

.pb-2 {
  padding-bottom: 0.5rem !important;
}

.align-items-end {
  -ms-flex-align: end !important;
  align-items: flex-end !important;
}

.justify-content-between {
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

.h4,
h4 {
  font-size: calc(1.275rem + 0.3vw);
}

.p-4 {
  padding: 1.5rem !important;
}

.col-6 {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 50%;
}

.ms-3 {
  margin-left: 1rem !important;
}

.align-self-end {
  -ms-flex-item-align: end !important;
  align-self: flex-end !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.mt3-dashboard {
  margin-top: 0.2rem;
}

.mt3-setting {
  margin-top: 0.44rem;
}

button {
  cursor: pointer;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.mt-1 {
  margin-top: 0.25rem !important;
}

.g-3,
.gy-3 {
  --bs-gutter-y: 1rem;
}

.me-2 {
  margin-right: 0.5rem !important;
}

.pt-4 {
  padding-top: 1.5rem !important;
}

.g-4,
.gy-4 {
  --bs-gutter-y: 1.5rem;
}

.col-12 {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 100%;
}

.rounded-3 {
  border-radius: 0.3rem !important;
}

.ms-2 {
  margin-left: 0.5rem !important;
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.border-bottom {
  border-bottom: 1px solid #dee2e6 !important;
}

.border-1 {
  border-width: 1px !important;
}

.pb-1 {
  padding-bottom: 0.25rem !important;
}

.bg-white {
  --bs-bg-opacity: 1;
  background-color: #fff !important;
}

.line-limit-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  -webkit-box-orient: vertical;
}

.line-limit-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  -webkit-box-orient: vertical;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.ps-0 {
  padding: 0rem !important;
}

.mb-0 {
  margin-bottom: 0rem !important;
}

.col-5 {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col-2 {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 16.66666667%;
}

.border-2 {
  border-width: 2px !important;
}

.col-7 {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 58.33333333%;
}

.border-start {
  border-left: 1px solid #dee2e6 !important;
}

.col-10 {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 83.33333333%;
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.col-3 {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 25%;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.ms-5 {
  margin-left: 3rem !important;
}

.pe-0 {
  padding-right: 0 !important;
}

.py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.px-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.col-9 {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 75%;
}

.h5,
h5 {
  font-size: 1.25rem;
}

.ms-1 {
  margin-left: 0.25rem !important;
}

.ps-4 {
  padding-left: 1.5rem !important;
}

.pe-4 {
  padding-right: 1.5rem !important;
}

.align-self-center {
  -ms-flex-item-align: center !important;
  -ms-grid-row-align: center !important;
  align-self: center !important;
}

// LAYOUT START
.layout-container {
  height: 100vh;
  max-width: 1900px;
  padding: 25px;
  margin-left: auto;
  margin-right: auto;

  --bs-gutter-x: 0rem;
  --bs-gutter-y: 0rem;
  display: flex;
  flex-wrap: wrap;
  // margin-top: calc(var(--bs-gutter-y) * -1);
  // margin-right: calc(var(--bs-gutter-x) * -0.5);
  // margin-left: calc(var(--bs-gutter-x) * -0.5);

  & > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
  }

  .sidebar-container {
    flex: 0 0 auto;
    width: 95px;
    padding-right: 20px;
  }

  .page-body {
    flex: 0 0 auto;
    width: 92%;
  }
}

// LAYOUT END

// SIDEBAR START

.single-nav {
  // position: relative;
  // display: inline-block;
  // padding: 1.7rem 0rem;
}

.single-nav .tooltiptext {
  visibility: hidden;
  width: 130px;
  right: -182%;
  top: 50%;
  background-color: #fff0d0;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  transform: translateY(-50%);

  /* Position the tooltip */
  position: absolute;
  z-index: 2;

  .tria-cont {
    position: absolute;
    top: 20%;
    left: -0.7rem;
    height: 15px;
    width: 15px;
    background-color: #fff0d0;
    clip-path: polygon(50% 0%, 12% 100%, 89% 100%);
    transform: rotate(-90deg);
  }
}

.single-nav:hover .tooltiptext {
  visibility: visible;
}

.version-text {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.sidebar-inner-container {
  min-height: 1px;
  height: calc(100%);

  .navigation {
    margin-top: 1rem;
    position: fixed;
    width: 76px;
    height: calc(100vh - 120px);
    background: $color1;
    border-left: 8px solid $color1;
    transition: 0.5s;
    border-radius: 10px;
    // overflow: hidden;
  }

  .navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 0.8rem;
  }

  .navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-bottom: 1rem;

    a img {
      z-index: 1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-60%, -50%);
    }
  }

  /* Curve outside */
  .navigation ul li.activeClass a::before {
    content: "";
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 22%;
    box-shadow: 11px 47px 0 5px #f4f4f4;
    pointer-events: none;
  }

  .navigation ul li.activeClass a::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 22%;
    box-shadow: 7px -17px 0 -1px #f4f4f4;
    pointer-events: none;
  }

  .navigation ul li.activeClass {
    background: #f4f4f4;
  }

  .navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #f4f4f4;
  }

  .navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 35px;
    line-height: 60px;
  }
}

// SIDEBAR END

// PAGES START
.project-list-container {
  background-color: #eceef2;
  border: 1px solid $color1;
  border-style: dashed;
  border-radius: 7px;

  button {
    height: 40px;
    border-radius: 8px;
  }

  .edit-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  .inp-cont {
    height: 40px;

    label {
      position: absolute;
      left: 18px;
      top: -10px;
      font-size: 14px;
      background: linear-gradient(
                      180deg,
                      rgba(236, 238, 242, 1) 50%,
                      rgba(255, 255, 255, 1) 50%
      );
    }

    input {
      border: 1px solid $color1;
      border-radius: 8px;
      height: 40px;
    }
  }

  .project-list {
    --bs-gutter-x: 1rem;
    --bs-gutter-y: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -0.5);
    margin-left: calc(var(--bs-gutter-x) * -0.5);

    & > * {
      flex-shrink: 0;
      width: 100%;
      max-width: 100%;
      padding-right: calc(var(--bs-gutter-x) * 0.5);
      padding-left: calc(var(--bs-gutter-x) * 0.5);
      margin-top: var(--bs-gutter-y);
    }

    .project-card-up {
      flex: 0 0 auto;
      width: 12.5%;
    }
  }

  .same-height {
    height: 220px;
  }

  .project-Card {
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 1px 1px 10px #1f1d5934;
    height: 92px;

    .number-count {
      border: 1px solid #93a0b2;
      border-radius: 8px;
    }
  }
}

.filter-container {
  label {
    font-weight: 500;
    color: $color1;
  }

  select,
  button {
    height: 32px;
    border-radius: 8px;
  }

  select {
    width: 180px;
    padding: 0rem 0.5rem;
    border: 1px solid $color1;
    color: $color1;
    font-weight: 600;
  }

  button {
    width: 90px;
    background-color: $color4;
    border: none;
    color: $color1;
    font-weight: 600;
  }
}

.inner-right-body {
  min-height: 1px;
  height: 10%;

  .project-list-b-upper {
    height: 20%;
  }

  .project-list-b {
    height: calc(100vh - 460px);
    overflow: scroll;
    overflow-x: hidden;
    padding: 0rem 1rem 0rem 0.8rem;
    padding-bottom: 1rem;
    margin-left: -12px;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: #e2e6eb;
    }

    &::-webkit-scrollbar-thumb {
      background: $color1;
      border-radius: 10px;
    }
  }

  .student-list-container {
    height: calc(100vh - 460px);
    overflow: scroll;
    overflow-x: hidden;
    padding: 0rem 1rem 0rem 0.8rem;
    padding-bottom: 1rem;
    margin-left: -12px;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: #e2e6eb;
    }

    &::-webkit-scrollbar-thumb {
      background: $color1;
      border-radius: 10px;
    }
  }
}

.student-view {
  min-height: 1px;
  height: 20%;

  .project-list-b-upper {
    height: 20%;

    .project-list-b {
      height: calc(100vh - 290px);
      overflow: scroll;
      overflow-x: hidden;
      padding: 0rem 1rem 0rem 0.8rem;
      padding-bottom: 1rem;

      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-track {
        background: #e2e6eb;
      }

      &::-webkit-scrollbar-thumb {
        background: $color1;
        border-radius: 10px;
      }
    }
  }
}

.project-Card-b-grid {
  height: 276px;
}

.project-Card-b3 {
  border: 1px solid $color5;
  height: 58px;
}

.project-Card-b3.bg-color3 {
  border: 1px solid $color3;
}

.pagination-container {
  .center-part {
    div {
      border: 1px solid $color5;
      color: $color1;
    }

    div:nth-child(1) {
      border-top-left-radius: 7px;
      border-bottom-left-radius: 7px;
      background: $color4;
    }

    div:nth-child(3) {
      border-top-right-radius: 7px;
      border-bottom-right-radius: 7px;
    }
  }
}

.dashboard-container {
  .col-3 .bg-white,
  .col-9 .bg-white {
    height: calc(100vh - 7.5%);
  }
}

.CircularProgressbar .CircularProgressbar-text {
  font-weight: 600;
}

.student-search-container {
  background-color: #eceef2;
  border: 1px solid #1f1d59;
  border-style: dashed;
  border-radius: 7px;
  padding: 1rem;

  input {
    border: 1px solid #1f1d59;
    border-radius: 8px;
    height: 40px;
  }

  label {
    position: absolute;
    left: 40px;
    top: -10px;
    font-size: 15px;
    background: linear-gradient(180deg, rgb(236, 238, 242) 50%, rgb(255, 255, 255) 50%);
    font-weight: 500;
  }

  .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
  }

  .inp-cont {
    height: 40px;
    width: 100%;
    position: relative;
  }

  .search-icon {
    position: absolute;
    right: 22px;
    top: 50%;
    transform: translateY(-50%);
  }


}


// PAGES END

// POP-UP START
.pop-up-container {
  position: fixed;
  left: 0%;
  right: 0%;
  bottom: 0%;
  top: 0%;
  width: 100%;
  height: 100vh;
  background-color: #1f1d59d5;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;

  .inner-pop-up {
    background-color: #fff;
    min-width: 500px;
    max-width: 500px;
  }

  .pop-up-body {
    padding: 3rem;
  }
}

.student-card {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  border-radius: 8px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

  .student-card-inner {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;

    .circle-initials {
      position: relative;
      left: 30px;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: 50px;
      height: 50px;
      line-height: 50px;
      border-radius: 50%;
      font-size: 17px;
      font-weight: 500;
      color: #fff;
      text-align: center;
      background: #1f1d59;
    }

    .student-name {
      position: relative;
      left: 100px;
      margin-bottom: 0rem;
      font-size: 0.875rem;
      color: #1f1d59;
      font-weight: 800;
    }

    .information {
      position: relative;
      left: 500px;
      margin-bottom: 0rem;
      display: flex;
    }

  }


}

// POP-UP END

// @media screen and (min-width: 1400px) {
// 	.sidebar-inner-container .side-bg {
// 		height: 400px;
// 	}
// }

// @media screen and (min-height: 1170px) {
// 	.sidebar-inner-container .side-bg {
// 		height: 600px;
// 	}
// }
